<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="retained_columns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="retained_columns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="59"/>
                <entry key="0" type="xstring" value="Status"/>
                <entry key="1" type="xstring" value="Content type"/>
                <entry key="2" type="xstring" value="body"/>
                <entry key="3" type="xstring" value="AL"/>
                <entry key="4" type="xstring" value="AM"/>
                <entry key="5" type="xstring" value="AT"/>
                <entry key="6" type="xstring" value="AZ"/>
                <entry key="7" type="xstring" value="BE"/>
                <entry key="8" type="xstring" value="BG"/>
                <entry key="9" type="xstring" value="BY"/>
                <entry key="10" type="xstring" value="CH"/>
                <entry key="11" type="xstring" value="CY"/>
                <entry key="12" type="xstring" value="CZ"/>
                <entry key="13" type="xstring" value="DE"/>
                <entry key="14" type="xstring" value="DE_TOT"/>
                <entry key="15" type="xstring" value="DK"/>
                <entry key="16" type="xstring" value="EA18"/>
                <entry key="17" type="xstring" value="EA19"/>
                <entry key="18" type="xstring" value="EE"/>
                <entry key="19" type="xstring" value="EEA30_2007"/>
                <entry key="20" type="xstring" value="EEA31"/>
                <entry key="21" type="xstring" value="EFTA"/>
                <entry key="22" type="xstring" value="EL"/>
                <entry key="23" type="xstring" value="ES"/>
                <entry key="24" type="xstring" value="EU27_2007"/>
                <entry key="25" type="xstring" value="EU27_2020"/>
                <entry key="26" type="xstring" value="EU28"/>
                <entry key="27" type="xstring" value="FI"/>
                <entry key="28" type="xstring" value="FR"/>
                <entry key="29" type="xstring" value="FX"/>
                <entry key="30" type="xstring" value="GE"/>
                <entry key="31" type="xstring" value="HR"/>
                <entry key="32" type="xstring" value="HU"/>
                <entry key="33" type="xstring" value="IE"/>
                <entry key="34" type="xstring" value="IS"/>
                <entry key="35" type="xstring" value="IT"/>
                <entry key="36" type="xstring" value="LI"/>
                <entry key="37" type="xstring" value="LT"/>
                <entry key="38" type="xstring" value="LU"/>
                <entry key="39" type="xstring" value="LV"/>
                <entry key="40" type="xstring" value="MD"/>
                <entry key="41" type="xstring" value="ME"/>
                <entry key="42" type="xstring" value="MK"/>
                <entry key="43" type="xstring" value="MT"/>
                <entry key="44" type="xstring" value="NL"/>
                <entry key="45" type="xstring" value="NO"/>
                <entry key="46" type="xstring" value="PL"/>
                <entry key="47" type="xstring" value="PT"/>
                <entry key="48" type="xstring" value="RO"/>
                <entry key="49" type="xstring" value="RS"/>
                <entry key="50" type="xstring" value="RU"/>
                <entry key="51" type="xstring" value="SE"/>
                <entry key="52" type="xstring" value="SI"/>
                <entry key="53" type="xstring" value="SK"/>
                <entry key="54" type="xstring" value="SM"/>
                <entry key="55" type="xstring" value="TR"/>
                <entry key="56" type="xstring" value="UA"/>
                <entry key="57" type="xstring" value="UK"/>
                <entry key="58" type="xstring" value="XK"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.json.JSONValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="value_columns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="value_columns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="56"/>
                <entry key="0" type="xstring" value="AL"/>
                <entry key="1" type="xstring" value="AM"/>
                <entry key="2" type="xstring" value="AT"/>
                <entry key="3" type="xstring" value="AZ"/>
                <entry key="4" type="xstring" value="BE"/>
                <entry key="5" type="xstring" value="BG"/>
                <entry key="6" type="xstring" value="BY"/>
                <entry key="7" type="xstring" value="CH"/>
                <entry key="8" type="xstring" value="CY"/>
                <entry key="9" type="xstring" value="CZ"/>
                <entry key="10" type="xstring" value="DE"/>
                <entry key="11" type="xstring" value="DE_TOT"/>
                <entry key="12" type="xstring" value="DK"/>
                <entry key="13" type="xstring" value="EA18"/>
                <entry key="14" type="xstring" value="EA19"/>
                <entry key="15" type="xstring" value="EE"/>
                <entry key="16" type="xstring" value="EEA30_2007"/>
                <entry key="17" type="xstring" value="EEA31"/>
                <entry key="18" type="xstring" value="EFTA"/>
                <entry key="19" type="xstring" value="EL"/>
                <entry key="20" type="xstring" value="ES"/>
                <entry key="21" type="xstring" value="EU27_2007"/>
                <entry key="22" type="xstring" value="EU27_2020"/>
                <entry key="23" type="xstring" value="EU28"/>
                <entry key="24" type="xstring" value="FI"/>
                <entry key="25" type="xstring" value="FR"/>
                <entry key="26" type="xstring" value="FX"/>
                <entry key="27" type="xstring" value="GE"/>
                <entry key="28" type="xstring" value="HR"/>
                <entry key="29" type="xstring" value="HU"/>
                <entry key="30" type="xstring" value="IE"/>
                <entry key="31" type="xstring" value="IS"/>
                <entry key="32" type="xstring" value="IT"/>
                <entry key="33" type="xstring" value="LI"/>
                <entry key="34" type="xstring" value="LT"/>
                <entry key="35" type="xstring" value="LU"/>
                <entry key="36" type="xstring" value="LV"/>
                <entry key="37" type="xstring" value="MD"/>
                <entry key="38" type="xstring" value="ME"/>
                <entry key="39" type="xstring" value="MK"/>
                <entry key="40" type="xstring" value="MT"/>
                <entry key="41" type="xstring" value="NL"/>
                <entry key="42" type="xstring" value="NO"/>
                <entry key="43" type="xstring" value="PL"/>
                <entry key="44" type="xstring" value="PT"/>
                <entry key="45" type="xstring" value="RO"/>
                <entry key="46" type="xstring" value="RS"/>
                <entry key="47" type="xstring" value="RU"/>
                <entry key="48" type="xstring" value="SE"/>
                <entry key="49" type="xstring" value="SI"/>
                <entry key="50" type="xstring" value="SK"/>
                <entry key="51" type="xstring" value="SM"/>
                <entry key="52" type="xstring" value="TR"/>
                <entry key="53" type="xstring" value="UA"/>
                <entry key="54" type="xstring" value="UK"/>
                <entry key="55" type="xstring" value="XK"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="3"/>
                <entry key="0" type="xstring" value="Status"/>
                <entry key="1" type="xstring" value="Content type"/>
                <entry key="2" type="xstring" value="body"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.json.JSONValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="enable-hiliting_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enable-hiliting" type="xboolean" value="false"/>
        <config key="missing-values_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="missing-values" type="xboolean" value="false"/>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Transpose"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="1009"/>
        <entry key="y-coordinate" type="xint" value="717"/>
        <entry key="width" type="xint" value="104"/>
        <entry key="height" type="xint" value="13"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="11"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.unpivot2.Unpivot2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Unpivoting"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.4.1.v202108201736"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.4.1.v202108201736"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Unpivoting"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 56, Cols: 3"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="279fd66e-e92a-4755-99fb-4113896c1656"/>
    </config>
</config>
